* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: arial;
}
:root {
    --color-bg-nav:white;
    --color-cellel-nav:white;
    --color-border-nav:rgb(255, 0, 0);
    --color-txt-nav:rgb(0, 0, 0);
    --color-txt-hover-nav:rgb(255, 0, 0);

}

body {
    background-color:rgb(159, 193, 288);
    padding: 20px;
    margin-top: 50px;
}

.contain {
    width: 330px;  
    background-color: red;
    margin: 10px auto; 
    padding: 5px;
    overflow: hidden
        
}

.box {
    width: 80px;
    height: 80px;
    background-color: white;  
    margin: 5px; 
}
.box:nth-child(1){
    float: right;
}

.box:nth-child(2){
    float: right;
    clear: right;
}

.box:nth-child(3){ 
    width: 310px;
    clear:right;
}







